<div class="main-panel ps-container ps-theme-default ps-active-y">
  <if(input.page==="Analysis")>
    <analysis-header/>
  </if>
  <main-content page=input.page subpage=input.subpage/>
  <custom-footer/>
</div>
