<!doctype html>
<html lang="en" class="perfect-scrollbar-on">
  <head>
    <title>
      <${input.title}/>
    </title>
    <!--
    <link> tags to include optimized CSS URLs will be included below:
    -->
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <${input.styles}/>
  </head>
  <body>
    <${input.body}/>
    <!--
    <script> tags to include optimized JS URLs will be included below:
    -->
    <${input.scripts}/>
    <!--
    If the browser is started using the browser-refresh launcher
    then a <script> tag will be injected below to open a WebSocket
    connection to the server
    -->
    <browser-refresh enabled=true/>
  </body>
</html>
