<div class="wrapper">
  <main-header/>
  <div class="container-fluid">
    <div class="row">
      <div class="cm-wrapper">
        <side-bar/>
        <main-pannel page=input.page/>
      </div>
    </div>
  </div>
</div>
