<div class="wrapper">
  <main-header page=input.page subpage=input.subpage/>
  <div class="container-fluid">
    <div class="row">
      <div class="cm-wrapper">
        <side-bar page=input.page subpage=input.subpage/>
        <main-pannel page=input.page subpage=input.subpage/>
      </div>
    </div>
  </div>
</div>
